// assets/my-theme/index.less
//@import '~view-design/src/styles/index.less';

@import "~view-design/src/styles/index.less";

// Here are the variables to cover, such as:
@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;
@primary-color: #8c0776;

